language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1
  - jruby-18mode
env:
  - SPHINX_BIN=/usr/local/sphinx-2.0.9/bin SPHINX_VERSION=2.0.9
  - SPHINX_BIN=/usr/local/sphinx-2.1.3/bin SPHINX_VERSION=2.1.3
  - SPHINX_BIN=/usr/local/sphinx-2.2.1/bin SPHINX_VERSION=2.2.1
before_script: killall searchd; echo ''
after_script:  killall searchd; echo ''
